%header
  .container
    .row
      .col-lg-12
        .intro-text
          %span.name QUIZZY
          %hr.star-light/
          %span.skills React on Rails sample app
      .col-lg-8.col-lg-offset-2.text-center
        = button_to "Start now!", new_quiz_path, { class: "btn btn-primary btn-lg", method: "get" }
%footer.text-center
  .footer-below
    .container
      .row
        .col-lg-12
          2016 © ozim.eu 